img {
  width: 20%;
}


.blue_font {
  color: blue;
}

.red_font {
  color: red;
}

#sunset_id {
  width: 200px;
}

#bento_id {
  width: 200px;
}

#prada_id {
  width: 100px;
}

#john_id {
  width: 200px;
}

#loose_id {
  width: 200px;
}
